@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body, html {
	min-width: 1115px;
}

div.content-titre {
	padding: 20px;
	background: #62a6ff;
}

div.content-titre h1.titre {
	margin-top: -39px;
	color: #1834a8;
}

ul.menu-nav li {
	font-size: 20px;
	margin-top: 8px;
	margin-left: -20px;
	margin-right: 16px;
	list-style: none;
	display: inline-block;
}

ul.menu-nav a.lien-item {
	text-decoration: none;
	color: #1834a8;
	transition: 0.2s;
	padding: 29px;
}

ul.menu-nav a.lien-item:hover {
	color: #fff;
	background: rgba(0, 0, 0, 0.3);
}

div.lien-content-conect-insc {
	text-align: right;
	margin-top: -26px;
}

div.lien-content-conect-insc div {
	margin-right: 225px;
}

div.lien-content-conect-insc div a {
	text-decoration: none;
	padding: 10px;
	margin: 5px;
	border-radius: 50px;
	transition: 0.2s;
}

div.lien-content-conect-insc div a.insc {
	border: 2px solid #fff;
	color: #fff;
	font-weight: 500;
}

div.lien-content-conect-insc div a.conect {
	background: #1834a8;
	border: 2px solid #1834a8;
	color: #fff;
	font-weight: 600;
}

div.lien-content-conect-insc div a.insc:hover {
	background: #fff;
	border: 2px solid #fff;
	color: #1834a8;
	font-weight: 500;
}

div.lien-content-conect-insc div a.conect:hover {
	background: #62a6ff;
	border: 2px solid #1834a8;
	color: #1834a8;
	font-weight: 600;
}

/* ----------------------- */

h1.phrase-contact {
	margin-top: 30px;
	text-align: center;
}

span#bleu-logo {
	color: #1834a8;
}

h2.phrase-email {
	margin-left: 20px;
}

span#email {
	margin-left: 20px;
	color: #1834a8;
	background: #62a6ff;
	padding: 15px;
	border-radius: 10px;
}

h2.phrase-email i {
	margin-left: 20px;
	cursor: pointer;
}

/* popup */

.content-page#blur {
	transition: 0.5s;
}

.content-page#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

div#popup a {
    position: relative;
    padding: 5px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background: #111;
    border: 1px solid #111;
    transition: 0.2s;
}

div#popup a:hover {
    position: relative;
    padding: 5px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #111;
    background: #fff;
    border: 1px solid #111;
}

#popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

/* fin popup */