/* bleu clair: #62A6FF */
/* bleu fonçé: #1834A8 */

/* Toute la page */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Header */
header .header {
	width: 100%;
	background: #62A6FF;
	height: 80px;
}

header .header ul {
	display: flex;
	flex-direction: row;
	float: right;
	height: 80px;
	align-items: center;
	visibility: visible;
	opacity: 1;
}

header .header ul li {
	list-style: none;
}

header .header ul li a {
	color: #fff;
	text-decoration: none;
	padding: 26px;
	font-size: 20px;
	transition: 0.3s;
}

header .header ul li a:hover {
	background: rgba(0, 0, 0, 0.3);
}

/* Contenu de la page */
.container .content .alert {
	background: #1834A8;
	color: #fff;
	margin: 20px;
	border: 5px solid #62A6FF;
	border-radius: 20px;
}

.container .content .alert h1 {
	margin-left: 30px;
	padding-top: 10px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 25px;
	letter-spacing: 2px;
}

.container .content .alert h2 {
	font-weight: 300;
	font-size: 20px;
	margin-left: 30px;
	margin-top: -10px;
}

.container .content .alert h2 a {
	color: #62A6FF;
	font-style: italic;
	text-decoration: none;
	font-weight: 400;
}

.container .content .alert h2 a:hover {
	text-decoration: underline;
}

.container .content .alert h2.fin {
	margin-bottom: 10px;
	margin-top: -15px;
}

/* Responsive */
@media (max-width: 700px) {
	header .header ul {
		visibility: hidden;
		opacity: 0;
		display: none;
	}
}