/* bleu clair: #62A6FF */
/* bleu fonçé: #1834A8 */
/* bleu windows: #0078D7 */
/* gris apple: #636363 */
/* jaune linux: #F09F23 */

/* Toute la page */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Header */
header .header {
	width: 100%;
	background: #62A6FF;
	height: 80px;
}

header .header ul {
	display: flex;
	flex-direction: row;
	float: right;
	height: 80px;
	align-items: center;
	visibility: visible;
	opacity: 1;
}

header .header ul li {
	list-style: none;
}

header .header ul li a {
	color: #fff;
	text-decoration: none;
	padding: 26px;
	font-size: 20px;
	transition: 0.3s;
}

header .header ul li a.btn-connect {
    padding: 0;
    margin: 10px;
    padding: 10px;
    border: 3px solid #fff;
    border-radius: 50px;
}

header .header ul li a.btn-insc {
    padding: 0;
    margin: 10px;
    padding: 10px;
    border: 3px solid #1834A8;
    background: #1834A8;
    border-radius: 50px;
}

header .header ul li a.btn-connect:hover {
    background: #fff;
    color: #1834A8;
}

header .header ul li a.btn-insc:hover {
    background: none;
    color: #1834A8;
}

header .header ul li a:hover {
	background: rgba(0, 0, 0, 0.3);
}

/* Contenu de la page */
.container .content .alert {
	background: #1834A8;
	color: #fff;
	margin: 20px;
	border: 5px solid #62A6FF;
	border-radius: 20px;
}

.container .content .alert h1 {
	margin-left: 30px;
	padding-top: 10px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 25px;
	letter-spacing: 2px;
}

.container .content .alert h2 {
	font-weight: 300;
	font-size: 20px;
	margin-left: 30px;
	margin-top: -10px;
}

.container .content .alert h2.fin {
	margin-bottom: 10px;
	margin-top: -15px;
}

.container .content .alert h2.fin a {
	color: #62A6FF;
	font-style: italic;
	text-decoration: none;
	font-weight: 400;
}

.container .content .alert h2.fin a:hover {
	text-decoration: underline;
}

.container .content .content-dl .content-btn-dl {
	text-align: center;
	margin-top: 80px;
}

.container .content .content-dl h2.phrase-dl {
	margin: 20px;
}

.container .content .content-dl h2.phrase-dl span {
	color: #1834A8;
}

.container .content .content-dl .content-btn-dl a.btn-dl-win {
	color: #fff;
	text-decoration: none;
	background: #0078D7;
	font-size: 30px;
	padding: 20px;
	margin: 10px;
	border-radius: 50px;
	transition: 0.2s;
}

.container .content .content-dl .content-btn-dl a.btn-dl-apple {
	color: #fff;
	text-decoration: none;
	background: #636363;
	font-size: 30px;
	padding: 20px;
	margin: 10px;
	border-radius: 50px;
	transition: 0.2s;
}

.container .content .content-dl .content-btn-dl a.btn-dl-lin {
	color: #fff;
	text-decoration: none;
	background: #F09F23;
	font-size: 30px;
	padding: 20px;
	margin: 10px;
	border-radius: 50px;
	transition: 0.2s;
}

.container .content .content-dl .content-btn-dl a.btn-dl-win:hover {
	background: #1834A8;
}

.container .content .content-dl .content-btn-dl a.btn-dl-apple:hover {
	background: #1834A8;
}

.container .content .content-dl .content-btn-dl a.btn-dl-lin:hover {
	background: #1834A8;
}

.container .content .content-link-vote {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

/* Responsive */
@media (max-width: 1080px) {
	header .header ul {
		visibility: hidden;
		opacity: 0;
		display: none;
	}
}