@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body, html {
	min-width: 1115px;
}

div.content-titre {
	padding: 20px;
	background: #62a6ff;
}

div.content-titre h1.titre {
	margin-top: -39px;
	color: #1834a8;
}

ul.menu-nav li {
	font-size: 20px;
	margin-top: 8px;
	margin-left: -20px;
	margin-right: 16px;
	list-style: none;
	display: inline-block;
}

ul.menu-nav a.lien-item {
	text-decoration: none;
	color: #1834a8;
	transition: 0.2s;
	padding: 29px;
}

ul.menu-nav a.lien-item:hover {
	color: #fff;
	background: rgba(0, 0, 0, 0.3);
}

div.lien-content-conect-insc {
	text-align: right;
	margin-top: -26px;
}

div.lien-content-conect-insc div {
	margin-right: 225px;
}

div.lien-content-conect-insc div a {
	text-decoration: none;
	padding: 10px;
	margin: 5px;
	border-radius: 50px;
	transition: 0.2s;
}

div.lien-content-conect-insc div a.insc {
	border: 2px solid #fff;
	color: #fff;
	font-weight: 500;
}

div.lien-content-conect-insc div a.conect {
	background: #1834a8;
	border: 2px solid #1834a8;
	color: #fff;
	font-weight: 600;
}

div.lien-content-conect-insc div a.insc:hover {
	background: #fff;
	border: 2px solid #fff;
	color: #1834a8;
	font-weight: 500;
}

div.lien-content-conect-insc div a.conect:hover {
	background: #62a6ff;
	border: 2px solid #1834a8;
	color: #1834a8;
	font-weight: 600;
}

/* ----------------------- */

h1.phrase-download {
	margin-top: 30px;
	text-align: center;
}

span#bleu-logo {
	color: #1834a8;
}

div.btn-download {
	width: 100%;
	text-align: center;
}

div.btn-download a {
	text-decoration: none;
	padding: 20px;
	margin: 20px;
	font-size: 20px;
}

div.btn-download a i {
	font-size: 30px;
	margin-right: 10px;
}

div.btn-download a.win {
	color: #fff;
	border: 1px solid #0078D7;
	background: #0078D7;
	transition: 0.2s;
}

div.btn-download a.win:hover {
	color: #0078D7;
	border: 1px solid #0078D7;
	background: #fff;
}

div.btn-download a.apple {
	color: #fff;
	border: 1px solid #636363;
	background: #636363;
	transition: 0.2s;
}

div.btn-download a.apple:hover {
	color: #636363;
	border: 1px solid #636363;
	background: #fff;
}

div.btn-download a.lin {
	color: #fff;
	border: 1px solid #FCB344;
	background: #FCB344;
	transition: 0.2s;
}

div.btn-download a.lin:hover {
	color: #FCB344;
	border: 1px solid #FCB344;
	background: #fff;
}