@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body, html {
	min-width: 1115px;
}

div.content-titre {
	padding: 20px;
	background: #62a6ff;
}

div.content-titre h1.titre {
	margin-top: -39px;
	color: #1834a8;
}

ul.menu-nav li {
	font-size: 20px;
	margin-top: 8px;
	margin-left: -20px;
	margin-right: 16px;
	list-style: none;
	display: inline-block;
}

ul.menu-nav a.lien-item {
	text-decoration: none;
	color: #1834a8;
	transition: 0.2s;
	padding: 29px;
}

ul.menu-nav a.lien-item:hover {
	color: #fff;
	background: rgba(0, 0, 0, 0.3);
}

div.lien-content-conect-insc {
	text-align: right;
	margin-top: -26px;
}

div.lien-content-conect-insc div {
	margin-right: 225px;
}

div.lien-content-conect-insc div a {
	text-decoration: none;
	padding: 10px;
	margin: 5px;
	border-radius: 50px;
	transition: 0.2s;
}

div.lien-content-conect-insc div a.insc {
	border: 2px solid #fff;
	color: #fff;
	font-weight: 500;
}

div.lien-content-conect-insc div a.conect {
	background: #1834a8;
	border: 2px solid #1834a8;
	color: #fff;
	font-weight: 600;
}

div.lien-content-conect-insc div a.insc:hover {
	background: #fff;
	border: 2px solid #fff;
	color: #1834a8;
	font-weight: 500;
}

div.lien-content-conect-insc div a.conect:hover {
	background: #62a6ff;
	border: 2px solid #1834a8;
	color: #1834a8;
	font-weight: 600;
}

/* ----------------------- */

body {
	background: #1834a8;
}

div.content-page {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#container{
	width: 400px;
}

/* Bordered form */
form {
	width: 100%;
	padding: 30px;
	border: 1px solid #f1f1f1;
	background: #fff;
	border-radius: 20px;
	box-shadow: 20px 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container h1{
	width: 55%;
	margin: 0 auto;
	padding-bottom: 10px;
}

/* Full-width inputs */
input[type=email], input[type=password], input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 50px;
	outline: none;
}

/* Set a style for all buttons */
input[type=submit] {
	background-color: #62a6ff;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	border: 1px solid #62a6ff;
	border-radius: 5px;
	box-shadow: 20px 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input[type=submit]:hover {
	background-color: white;
	color: #62a6ff;
	border: 1px solid #62a6ff;
}